html {
    min-height: 100vh;
    background: rgb(30, 30, 30);
    background-repeat: no-repeat;
    background: cover;
}

* {
   user-select: none;
}

button {
    display: block;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: 2px solid rgb(0, 30, 255);
    color: rgb(255, 255, 0);
}


.options {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(71, 68, 68);
    width: 200px;
    white-space: nowrap;
    color: rgb(255, 255, 0);
    font-size: 20px;
}

.color-card {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 75px;
    gap: 15px;
    transition: all 0.1s ease-in-out;
}

.btn-active {
    transform: scale(0.98);
    background-color: aquamarine;
    color: blue;
}

.buttons .range-box {
    text-align: center;
    margin-top: auto;
}

#clear {
    margin-top: 15px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    margin: 0 400px;
}

.title {
    text-align: center;
    margin: 3% 0;
    font-size: 75px;
    font-weight: bolder;
    background: rgb(0, 30, 255);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px black;
}

.grid-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 660px;
    height: 660px;
    background-color: rgb(71, 68, 68);
}

.grid-container {
    display: grid;
    width: 600px;
    height: 600px;
    background-color: white;
    grid-template-columns: repeat(16, 1fr);
}

.grid-item {
    border: 1px solid lightgray;
}